body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  font-family: "Onest", sans-serif;
  font-size: 12px;
  background-color: #a3b18a;
  color: #ffffff;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
}

.buttons {
  display: flex;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #283618;
  color: #edede9;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  color: #283618;
  background-color: #f3f3f3;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h2 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #71816d;
}

p {
  font-size: 25px;
}

.modalLocais {
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.botaoFechar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #283618;
  color: #EDEDE9;
  border: none;
  padding: 6px 15px;
  margin-left: 10px;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 10px;
}

.botaoFechar:hover {
  color: #283618;
  background-color:#A3B18A
}

p {
  font-size: 22px;
  
}

@media screen and (max-width: 1000px) {
  
  
  .content {
    flex-direction: column;
    text-align: center;
  }

  h5 {
    margin-bottom: ;
    margin-left: -90px;
    margin-right: -50px;
  }
  .textoecep{
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .imagem3 {
    display: none;
    
  }

  .campo {
    margin-top: 30px;
    margin-left: -80px;
  }

  #botaoBuscar {
    margin-top: 10px;
  }
 
}

footer {
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 2.5rem;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
}

.campo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 60%;
  left: 69%;
  transform: translate(-50%, -50%);
}

#botaoBuscar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #283618;
  color: #edede9;
  border: none;
  padding: 6px 15px;
  margin-left: 10px;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 10px;
}

#botaoBuscar:hover {
  color: #283618;
  background-color: #a3b18a;
}

#cep {
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  color: #283618;
  padding-top: 6%;
  padding-right: 2%;
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 40%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.imagem3 {
  margin-left: 150px;
  margin-top: 80px;
}
