
body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    
}

header {
    font-family: 'Onest', sans-serif;
    font-size: 12px;
    background-color: #A3B18A;
    color: #ffffff;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}

.buttons {
    display: flex;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #283618;
    color: #EDEDE9;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    color: #283618;
    background-color: #f3f3f3;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    text-align: left;
    position: relative;
    margin-left: 100px;
    flex: 1;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #283618;
}

.image {
    max-width: 100%;
    height: auto;
    margin-right: 70px;
    margin-top: 55px;
    flex: 1;
    text-align: right;
}

h2 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #71816D;
}

p {
    font-size: 25px;
}

label {
        padding: 8px;
}

input {
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

  .form {
    background-color: #A3B18A;
    margin-top: 150px;
    display: flex;
    align-items: center;
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 5px 5px 8px rgba(0 , 0, 0, 0.336);
    
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    
}

h1 {
    position: relative; left: auto;
}


.insiranomerazaosocial {
    position: relative;
    top: 19px;
    
}
footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 2.5rem;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
}



.column3 {
    position: relative; top: -60px;
}

.modalLocais {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.botaoFechar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #283618;
    color: #EDEDE9;
    border: none;
    padding: 6px 15px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.botaoFechar:hover {
    color: #283618;
    background-color:#A3B18A
}

p {
    font-size: 22px;
    
}

@media screen and (max-width: 1000px) {
    
    header {
        flex-direction: column;
        text-align: center;
        height: 100px;
    }

    .logo img {
        margin: 10px auto;
        display: flex;
        position: relative;
        top: -23px;
        
    }

    .buttons {
        
        margin: 10px auto;
        align-items: center;
        display: flex;
        position: relative; top: -44px;
    }
    
      .title {
        position: relative;
        top: -23px;
      }

      
    
    
    #column3 {
        position: relative;
        top: -50px;
        
        
    }

    .column2 {
        display: block;
        margin-bottom: 10px;
    }
    
   

    .input-group {
        align-items: center;
        flex-direction: column;
    }

    .insiranomerazaosocial {
        position: relative; 
        top: 36px;
    }
    #CNPJ {
        margin-top: 20px;
    }

    .column2 {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    footer {
        bottom:auto; 
    }

    @media screen and (min-width: 768px) {
     #column3 {
        position: relative;
        left: 19px;
        position: relative;
        top: -2rem;
        
     }
     .column2 {
        position: relative;
        left: 7px;
     }
        

    }
}

 




    


