body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    font-family: 'Onest', sans-serif;
    font-size: 12px;
    background-color: #A3B18A;
    color: #ffffff;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-right: 10px;
}

.buttons{
    display: flex;
}

.content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #283618;
    color: #EDEDE9;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 10px;
};
.image {
    max-width: 100%;
    height: auto;
    margin-right: 70px;
    margin-top: 55px;
    flex: 1;
    text-align: right;
}

h2 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e2e4e1;
}

p {
    font-size: 25px;
}

@media screen and (max-width: 1064px) {
    
    .container {
    width: 90%;
    height: auto;
    }

    .text {
        margin-top: 0;
        margin-left: 0;
    }

    .image {
        
        margin-top: 0;
        margin-right: 5;
    }
label{ 
    width: 100%;
padding-top: auto;
}

} 


form{ 
    max-width: 900px;
    width: 100%;
    text-align:center;
    margin: 0 auto;
    background-color: #A3B18A;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 50px;
}


form button:hover{ 
    color: #283618;
    background-color: #EDEDE9;
}
form button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #283618;
    color: #EDEDE9;
    border: none;
    padding: 6px 5px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 10px;
}


  footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 2.5rem;
    color: #f3f3f3;
    text-align: center;
    padding: 0.5rem;
};

.input{ 
    display: block;
    width: 100%;
    margin-bottom: 10px;
};