 

*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #78909C;

}
header {
    font-family: 'Onest', sans-serif;
    font-size: 12px;
    background-color: #A3B18A;
    color: #ffffff;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



    




.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}

.buttons {
    display: flex;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #283618;
    color: #EDEDE9;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button:hover {
    color: #283618;
    background-color: #f3f3f3;
}



footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 2.5rem;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;

  }
    

 #container {
 height: 88vh;
 width: 100%;
 background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 }

 #Altere {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 50px 50px;
    border-radius: 16px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0 , 0, 0, 0.336);
    height: fit-content;
    background-color: #A3B18A;
    
     }
    
     #form-header {
        display: flex;
        align-items: center;
        justify-content: center;
     }
    
     #form-header h4{
        width: 30px;
    
     }

     #buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
      
        
     }

     .btn {
        text-decoration: none;
        font-family: 'Oneste', sans-serif;
        font-size: 16px;
        
        
    
     }


     .bi-person-circle {
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: relative;
        top: -30%;
        left: 49%;
        text-decoration: none;
        color: #000;
        
     }

     
    
    

     

 




 




  
